@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-primary-bg: #ffffff;
  --color-secondary-bg: #f5f9fe;

  --color-primary-text: #71717b;
  --color-secondary-text: #71717b;
  --color-muted-text: #9f9fa9;

  --color-button: #2563eb;
  --color-gradient-start: #0055ff;
  --color-gradient-end: #ff007b;

  --spacing: 0.25rem;
}

.dark {
  --color-primary-bg: #000000;
  --color-secondary-bg: #101828;

  --color-primary-text: #cad5e2;
  --color-secondary-text: #90a1b9;
  --color-light-text: #62748e;

  --color-button: #2563eb;
  --color-gradient-start: #0055ff;
  --color-gradient-end: #ff007b;

  --color-border: #314158;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
}

.gradient-text {
  background: linear-gradient(
    to bottom,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
